.dropdown-menu{
    top: 80%;
    left: inherit;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.nav-link a {
    color: #888;
}

.product,
.product:hover {
    color: inherit;
    text-decoration: none;
    display: block;
    margin: 7px 0 20px;
}

.form-control + .form-helper{
    display: none;
}

.form-control.invalid + .form-helper{
    display: block;
}

.form-control.invalid {
    border-color: red;
}