doctype html
html(lang="ru")
    block head
        head
            meta(charset='utf-8')
            title Продвинутый курс JavaScript
            //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
            link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css' rel='stylesheet')
            link(href='css/style.css' rel='stylesheet')
            script(src="js/utils.js")
            script(src="js/base/BaseView.js")
            script(src="js/base/BaseCollection.js")
            script(src="js/menu/MenuItem.js")
            script(src="js/menu/Menu.js")
            script(src="js/menu/Submenu.js")

            block styles

    body
        section.container
            block menu
                nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded.mt-3
                    a(href="index.html").navbar-brand Магазин
                    .collapse.navbar-collapse#shop-menu
                    form.form-inline.my-2.my-md-0
                        input.form-control(placeholder="Поиск" aria-label="Search" type="text")

            block content

        block scripts
                script(src='js/app.js')

        block code

