extends _base.pug

block styles
    script(src="js/product/Product.js")
    script(src="js/product/ProductList.js")

block content
    div#app
        #products.m-3
        //button#btn2.btn.btn-default Продукты

        hr.m-5

block scripts
        script(src="js/utils.js")
        script(src='js/app.js')