extends _base.pug

block styles
    script(src="js/product/SingleProduct.js")

block content
    div#app
        hr.m-2
        article.page.single-product.row#product
            #product-image.col-md-4
                a(href='#' target="_blank")
                    img(src='' alt='Изображение' width='350').img-fluid
            .product__info.col-md-8
                h1#product-title
                p#product-price
                input(type='button' value='Купить').product-cart
                section
                    h2 Описание товара
                    p#product-excerpt
                    //- a(href='#description') читать далее
                //- section.product-chars
                    h2 Характеристики товара
                    //- table
                        each val, key in page.chars
                            tr
                                td= key
                                | :
                                td= val

            section#description.col-md-12.mt-4
                h2 Подробное описание товара
                p#product-content.page-content
